/GuessingNumberGame.class
/Pgm6BinarySearch.class
/PgmNum4.class
/PrimesAreAnagram.class
/PrimesArePalindrome.class
/TestAnagram.class
/TestBinarySearch.class
/TestBubbleSort.class
/TestCountNotes.class
/TestDayOfWeek.class
/TestInsertion.class
/TestMergeSort.class
/TestMonthlyPay.class
/TestNibble.class
/TestNinaryNum.class
/TestPrimeNum.class
/TestSqrt.class
/TestTemperature.class
