/Flipcoin.class
/Replace.class
/TestDistance.class
/TestElapsedTime.class
/TestGambler.class
/TestHarmonic.class
/TestLeapYear.class
/TestPermute.class
/TestPowerof2.class
/TestQuadratic.class
/TestTripleArray.class
/TestWindChill.class
/Testprimefact.class
/TwoDimensionArray.class
